<h1><%= title %></h1>
<div>copie e cole o nome de todos os alunos aqui (cada linha 1 aluno):</div>
<form id="register-from">
  <textarea name="names" cols="30" rows="30"></textarea>
  <input type="submit" />
</form>